<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Layout Astro</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    #camContainer img {
      width:100% !important;
    }
  </style>
</head>
<body>
  <header class="w-full bg-gray-50">
    <nav class="w-10/12 mx-auto">
      <div class="w-full flex flex-row justify-between items-center p-4">
        <img src="../static/imgs/91fa777f-1be0-44a8-a44b-e868b7f4032a.png" class="w-20"/>
        <div>
          <ul class="flex flex-row gap-4">
            <li><a href="/">Início</a></li>
            <li><a href="/controle">Modo Manual</a></li>
            <li><a href="/rastreamento">Rastreamemto</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="p-4 mt-4">
    <main class="w-10/12 mx-auto"> 
<hr style="border: 1px solid #e4e4e4" class="mb-8"/>
      <div class="main-box w-full"><p id="camContainer"></p></div>
      <div id="buttonBox" class="w-full flex flex-row gap-4 space-between mt-4">
        <button class="w-full bg-blue-500 text-white p-4 rounded-md" onclick="iniciarRastreamento()">Iniciar Rastreamento</button>
        <button class="w-full bg-gray-100 p-4 rounded-md" onclick="pararRastreamento()">Parar Rastreamento</button>
      </div>
    </main>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
